<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Simple Filebrowser Version 0.0.1</h1>
    <p class="lead">This is a a very simple Filebrowser, which will show all files in your homedirectory.</p>
    <button class="btn btn-primary" (click)="loadFiles()">show me my files</button>
  </div>
</div>
<div class="container" *ngIf="files && files.length">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let file of files">
      {{file}}
    </li>
  </ul>
</div>
